{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# Install brew dependencies
brew bundle --file=/dev/stdin <<EOF
# Mac App Store CLI
brew "mas"

# Need a better terminal emulator first
cask "iterm2"

# Need a better keyboard layout
cask "bepo"

# Keyboard utility
cask "keymapp"

# Raycast
cask "raycast"

# Terminal tools
brew "ripgrep"

# Password manager
cask "1password"
cask "1password-cli"

# Browser
cask "firefox"

# Development tools
brew "lua" # z dependency
brew "git"
cask "bruno"
cask "jetbrains-toolbox"
cask "visual-studio-code"

# Communication
cask "slack"
cask "mattermost"
cask "telegram"
cask "protonmail-bridge"
cask "whatsapp"
cask "signal"

# Notes
cask "notion"

# Music
cask "spotify"

# Displaylink Driver for baseus hub
cask "displaylink"

# Magnet (window manager)
mas "Magnet", id: 441258766

EOF

# Clone z.lua (cd command)
mkdir -p ~/Dev
if [ ! -d ~/Dev/z.lua ]
then
	git clone https://github.com/skywind3000/z.lua.git Dev/z.lua
fi

{{ end -}}
