{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# Install brew dependencies
brew bundle --no-lock --file=/dev/stdin <<EOF
# Mac App Store CLI
brew "mas"

# Need a better terminal emulator first
cask "kitty"

# Password manager
cask "1password"

# Browser
cask "firefox"

# Development tools
brew "lua" # z dependency
brew "git"
cask "jetbrains-toolbox"
cask "insomnia"
cask "visual-studio-code"

# Communication
cask "slack"
cask "telegram"

# Notes
cask "notion"

# Music
cask "spotify"

EOF

# Clone z.lua (cd command)
mkdir -p ~/Dev
if [ ! -d ~/Dev/z.lua ]
then
	git clone https://github.com/skywind3000/z.lua.git Dev/z.lua
fi

# Install from Mac App Store
# Magnet
mas install 441258766

{{ end -}}
